.Footer{
    width: 100%;
    margin-top: 16px;
    background-color: green;
    text-align: center;
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .Footer {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .Footer {
        width:102%;
        padding: 15px;
    }
}