.HeaderContainer{
    padding: 20px;
}

.HeaderChild{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderLogo{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HeaderList{
    font-size: 20px;
    gap : 80px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Responsive styles */
@media (max-width: 768px) {
    .HeaderContainer {
        padding: 15px;
    }

    .HeaderLogo {
        font-size: 20px;
    }

    .HeaderList {
        font-size: 18px;
        gap: 40px;
    }
}

@media (max-width: 480px) {
    .HeaderContainer {
        padding: 8px;
    }

    .HeaderLogo {
        font-size: 12px;
    }

    .HeaderList {
        font-size: 8px;
        gap: 8px;
        flex-direction: row;
        align-items: flex-start;
    }
}