
.HeroContainer{
    background-image: url(../Images/profile.png);
    background-size: cover ;
    width: 450px;
    height: 450px;
    margin: 6%;
}

.HeroChild{
    display: grid;
    grid-column: 20px;
    height: calc(100vh- 60px);
}

.HerGrandChild{
    display :block
}

.MainHeading{
    font-size: 60px;
    margin-left: 150%;
    font-weight: bold;
    justify-items: left;
    align-content: center;
}

.button{
    margin-top: 10%;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .HeroContainer {
        width: 300px;
        height: 300px;
        margin: 4%;
    }

    .MainHeading {
        font-size: 40px;
        margin-left: 140%;
    }

    .button {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .HeroContainer {
        width: 45%;
        height: 62%;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }

    .MainHeading {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        margin-left: 170%;
    }

    .button {
        font-size: 16px;
        padding: 6px 12px;
    }
}